services:
  postgres:
    image: postgres:17-alpine
    container_name: postgres
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d:ro
    ports:
      - "5432:5432" #local only - prod remove
    networks:
      - backend_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -D $POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 1g
        reservations:
          memory: 512m

volumes:
  postgres_data:
    name: postgres_data
networks:
  backend_network:
    external: true
