services:
  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped

    command: redis-server --save "" --appendonly no

    networks:
      - backend_network

networks:
  backend_network:
    external: true
