services:
  adminer:
    image: adminer:4.8.1
    container_name: adminer
    restart: unless-stopped

    ports:
      - "8080:8080"

    environment:
      ADMINER_DEFAULT_SERVER: postgres

    networks:
      - backend_network

networks:
  backend_network:
    external: true
